@{
    ViewData["Title"] = "Product Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container">
        <div>
            <h2>Product Form</h2>
            <div id="grid"></div>

            <button class="k-button" onclick="showProductForm()">New Product</button>
        </div>

        <div class="overlay" id="overlay"></div>

        <!-- Form Đăng Nhập thêm Sản Phẩm -->
        <div class="customer-form" id="productForm">
            <h2>Thêm Sản Phẩm Mới</h2>
            <form id="createProductForm">
                <div class="form-group">
                    <label for="productID">Product ID:</label>
                    <input type="text" id="productID" name="ProductID" required>
                </div>
                <div class="form-group">
                    <label for="productName">Product Name:</label>
                    <input type="text" id="productName" name="ProductName" required>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="text" id="price" name="Price" required>
                </div>
                <button type="button" onclick="createProduct()">Thêm Sản Phẩm</button>
                <button type="button" onclick="hideProductForm()">Hủy</button>
            </form>
        </div>

        <!-- Form Cập Nhật Sản Phẩm -->
        <div class="customer-form" id="updateProductForm" style="display:none;">
            <h2>Cập Nhật Sản Phẩm</h2>
            <form id="updateProductFormContent">
                <div class="form-group">
                    <label>Product ID:</label>
                    <span id="displayProductID"></span>
                    <input type="hidden" id="updateProductID" name="ProductID" required>
                </div>
                <div class="form-group">
                    <label for="updateProductName">Product Name:</label>
                    <input type="text" id="updateProductName" name="ProductName" required>
                </div>
                <div class="form-group">
                    <label for="updatePrice">Price:</label>
                    <input type="text" id="updatePrice" name="Price" required>
                </div>
                <button type="button" onclick="updateProduct()">Cập Nhật Sản Phẩm</button>
                <button type="button" onclick="hideUpdateProductForm()">Hủy</button>
            </form>
        </div>

    </div>
</main>

@section Scripts {
    <script src="~/js/products.js"></script>
}